@font-face {
  font-family: 'Qatar2022';
  src: url('../qatar2022.ttf');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Qatar2022', sans-serif;
  background: linear-gradient(to bottom right, #800020, #d4af37);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.login-box {
  background: rgba(0,0,0,0.3);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  max-width: 320px;
  width: 100%;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  background: #ffd700;
  border: none;
  border-radius: 8px;
  font-family: 'Qatar2022';
  cursor: pointer;
  color: black;
  font-weight: bold;
  font-size: 16px;
}

.error {
  color: #ffaaaa;
  text-align: center;
  margin-top: 10px;
}
.logo-torneo {
  display: block;
  margin: 0 auto 20px auto;
  max-width: 100px;
  height: auto;
}
